@keyframes instaloading {
  0% {
    opacity: 0;
    background: rgb(208, 208, 208);
    background: linear-gradient(
      90deg,
      rgba(208, 208, 208, 1) 0%,
      rgba(248, 248, 248, 1) 100%
    );
  }
  80% {
    background: rgb(208, 208, 208);
    background: linear-gradient(
      90deg,
      rgba(208, 208, 208, 1) 100%,
      rgba(248, 248, 248, 1) 100%
    );
  }
  90% {
    background: rgb(208, 208, 208);
    background: linear-gradient(
      90deg,
      rgba(208, 208, 208, 1) 30%,
      rgba(248, 248, 248, 1) 100%
    );
  }
  100% {
    background: rgb(208, 208, 208);
    background: linear-gradient(
      90deg,
      rgba(208, 208, 208, 1) 0%,
      rgba(248, 248, 248, 1) 100%
    );

    border-radius: 0;
  }
}

.insta-image {
  margin: auto;
  height: 370px;
  width: 370px;
  margin-top: 1.75rem;
  z-index: 99;
}
p.insta-caption {
  margin: auto;
  font-size: 16px;
  margin-bottom: 2rem;

  margin-top: 1rem;
  max-width: 300px;

  color: gray;
}

.loading-insta {
  background-color: #181818;
  animation: instaloading 2s infinite;
  transition: all 0.2s ease;
  z-index: 100;
}

@media all and (max-width: 500px) {
  .insta-image {
    width: 300px;
    height: 300px;
  }
}
