:root {
  /* DARK */
  --sb-yellow--dark: rgb(253, 181, 21);
  --sb-orange--dark: rgb(229, 75, 33);
  --sb-purple--dark: rgb(112, 0, 75);
  --sb-blue--dark: rgb(0, 127, 164);
  --sb-green--dark: rgb(46, 158, 70);
  --sb-brown--dark: rgb(122, 50, 2);
  /* MEDIUM */
  --sb-yellow--med: rgb(255, 221, 85);
  --sb-orange--med: rgb(246, 148, 114);
  --sb-purple--med: rgb(206, 80, 157);
  --sb-blue--med: rgb(67, 197, 228);
  --sb-green--med: rgb(150, 202, 79);
  --sb-brown--med: rgb(195, 131, 85);
  --oakley: #bedc93;
  --downtown: #eac6df;
  --blueash: #caeaf5;
  --downtown-dark: #6e024a;
  --blueash-dark: #007ab8;
  --oakley-dark: #2b9d45;
  --sb-font1: Questa-slab, serif;
  --sb-font2: Questa-slab, sans-serif;
  --sb-font-foco: Foco, sans-serif;
  --sb-grey: #58575a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Questa-Slab;
  color: white;
  font-size: 86px;
  line-height: auto;
}

body,
html {
  font-family: Foco;
  font-size: 1.5em;
  scroll-behavior: smooth;
}
